.App {
  background-color: #2a2c35;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  column-gap: 50px;
  row-gap: 50px;
  align-items: center;
  justify-content: center;


  span {
    font: 700 56px sans-serif;

    color: orange;
  }

  button {
    font: 400 36px sans-serif;
    padding: 20px 50px;
    border: 4px solid yellow;
    cursor: pointer;
    background-color: green;
    color: yellow;

    transition: all 0.2s ease;

    &:active {
      transform: scale(1.05);
    }
  }
}



