.button {
  font-size: 28px;
  font-weight: 700;
  background-color: #66daff;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;

  color: #2a2c35;

  &.notActive {
    opacity: 0.2;
  }
}

.button:active {
  transform: scale(1.1);
}