.counter {
  width: 300px;
  height: 250px;
  border: 2px solid #66daff;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.display {
  width: 200px;
  background-color: #66daff;
  text-align: center;
  font-size: 60px;
  border-radius: 6px;
  font-weight: 700;

  color: #2a2c35;

  line-height: 1.8;

  &.active {
    color: #c70808;
  }
}

.buttonsContainer {
  width: 200px;
  height: 70px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  border: 2px solid #66daff;
  border-radius: 15px;
}